/*公共样式 start*/
body, html {
    /*font-size: 16px;*/
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling:touch;
    font-family: 'Helvetica';
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

body, button, input, select, textarea {
    /*line-height: 1.8;*/
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, p {
    -webkit-text-size-adjust: none
}

address, cite, dfn, em, var, i {
    font-style: normal;
}

textarea {
    resize: none
}

input[type=button] {
    -webkit-appearance: none;
    outline: 0
}

input::-webkit-input-placeholder {
    color: #999
}

textarea::-webkit-input-placeholder {
    color: #999
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    text-align: inherit
}

fieldset, img {
    border: none
}

img {
    /*vertical-align: middle;*/
    border: 0;
}

abbr, acronym {
    border: none;
    font-variant: normal
}

del {
    text-decoration: line-through
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

a, a:hover, ins {
    text-decoration: none
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #000;
}

:focus, a:focus {
    outline: 0
}

.clearfix:after{
    clear: both;
    display: table;
    height: 0;
    overflow: hidden;
    content:'';
}

/*公共样式 end*/

/*盒子样式 start*/
.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;


    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */

}
.flexrow {
    display: flex;
    flex-flow: row wrap;
}
.flex .justify-content-flex-start {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.flex .justify-content-flex-end {
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial
}

.flex .flex-one {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.flex-direction-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-direction-row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.flex-direction-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

.flex-direction-column-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.justify-content-flex-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.justify-content-flex-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.justify-content-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.justify-content-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.justify-content-space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.align-items-flex-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.align-items-flex-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.align-items-center,.flex .justify-content-flex-end,.flex .justify-content-flex-start {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align:center;
}

.align-items-baseline {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.align-items-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.extendLine-normal {
    margin-top: 10px
}

.extendLine-normal:first-child {
    margin-top: 0
}

.extendLine-normal .justify-content-flex-start .component-item {
    margin-left: 10px
}

.extendLine-normal .justify-content-flex-end .component-item {
    margin-right: 10px
}

.extendLine-normal .component-item {
    overflow: hidden
}
.content{
    position:absolute;
    top:0;
}

/*盒子样式 end*/
/*head start*/
.head{
    height: 0.92rem;
    background: #262c38;
}
.head_left{
    background:url('../images/shouye-15.png') no-repeat;
    width:1.64rem;
    height:0.65rem;
    background-size:cover;
    margin-top:0.14rem;
    margin-left:0.26rem;
    float:left;
    position:relative;
}
.head_left a{
    display:inline-block;
    width:1.64rem;
    height:0.65rem;
    position:absolute;
    top:0;
}
.head_right{
    background:url('../images/shouye-24.png') no-repeat;
    width:0.52rem;
    height:0.34rem;
    float: right;
    background-size:cover;
    margin-right:0.4rem;
    margin-top:0.3rem;
}

.head_medium_model{
    position:absolute;
    right:0;
    width:100%;
    height:100%;
    background:transparent;
    display:none;
    z-index: 1000;
}
.head_medium{
    background:#262c38;
    width: 4.08rem;
    height:6.4rem;
    position:absolute;
    right:0;
    display:none;
    z-index: 100;
}
.head_medium ul li{
    text-align:center;
    font-size:0.3rem;
    /*background:#30394b;*/
    height:0.98rem;
    margin-top:0.3rem;
    line-height:0.98rem;
}
.head_medium ul li span{
    display:inline-block;
    width:100%;
}
.head_medium ul li a{
    color:#82d264;
    font-size:0.3rem;
    display:inline-block;
    width:100%;
}

/*head end*/


/*预加载 start*/
body .loader{
    position: fixed;
    z-index: 50000;
    width:100%;
    height:100%;
    background:#82D264;
}
.loader-inner{
    position:absolute;
    left:44%;
    top:50%;
}
/*预加载 end*/



/*body start*/
.body{
    overflow-x:hidden;
    overflow-y:auto;
}
.body .body_one{
    margin-top:0.48rem;
    min-height:3.06rem;
}
.body .body_one_img{
    width:1.5rem;
    height:1.5rem;
    margin:0 auto;
}
.body .body_one_img img{
    width:100%;
}
.body_one_til_text{
    font-size:0.42rem;
    color:#4d4d4d;
    text-align:center;
    margin-top:0.4rem;
}
.body_one_til_xiao{
    font-size:0.28rem;
    color:#fe7806;
    text-align:center;
    margin-top:0.28rem;
}

.body_two{
    width:7rem;
    margin:0 auto;
    margin-top:0.42rem;
}
.body_two_xian{
    border-top:1px solid #dfdfdf;
    height:1px;
    width:100%;
}
.body_two_cut{
    margin-top:0.44rem;
    height:100%;
}
.body_two_cut .swiper-slide{
    margin-right:0.3rem;
}
.body_two_cut .swiper-slide img{
   width:100%;
}

.footer{
    height:1rem;
}
.body_two .body_two_introduce{
    margin-top:0.4rem;
    width:100%;
    font-size:0.28rem;
    color:#737373;
    text-align:justify;
    line-height:0.4rem;
}


.body_link{
    margin-top:0.4rem;
    font-size:0.36rem;
    color:#4d4d4d;
    text-align:center;
}
.body_link a{
    display:inline-block;
    width:2.83rem;
    height:0.8rem;
}
.body_link a img{
    width:100%;
}
.body_link p{
    margin-bottom:0.86rem;
}
/*body end*/

